



  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" >
     
          
        <div class="sidebar-wrapper">
          
                <div class="logo">
                        <img src="favicon.ico" id="ico" />
                    <a href="#" >
                   
                    </a>
                  </div>
        <ul class="nav">
               
          <li class="nav-item   ">
            <a class="nav-link" href="#">
              <i class="material-icons">dashboard</i>
              <p>Statistiques</p>
            </a>
          </li>
        
          <li class="nav-item  ">
                <a class="nav-link" href="reclamation">
                  <i class="material-icons">content_paste</i>
                  <p> Réclamations réçus</p>
                </a>
              </li>
              <li class="nav-item  ">
                <a class="nav-link" href="reclamationvalide">
                  <i class="material-icons">assignment_turned_in</i>
                  <p>  Réclamations résolus</p>
                </a>
              </li>
              <li class="nav-item  ">
                <a class="nav-link" href="reclamationrejetee">
                  <i class="material-icons">cancel</i>
                  <p> Réclamations rejetées</p>
                </a>
              </li>
              <li class="nav-item active ">
                <a class="nav-link" href="map">
                  <i class="material-icons">location_ons</i>
                  <p>Maps</p>
                </a>
              </li>      

         
         
        
    
          <br><br>
          <li class="nav-item ">
                <input type="button" (click)="onLogout()" value="Logout" id="logout"/>
            
</li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
        
        
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
           
            </form>
      
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content" id="con">
        <agm-map [latitude]="latitude" [longitude] ="longitude" (mapClick)="onChoseLocation($event)">
        
          <agm-marker  *ngFor="let reclamation of reclamationService.reclamations"  
          [latitude]="+reclamation.positionLatitude" 
          [longitude] ="+reclamation.positionLongitude"
        ></agm-marker>
        </agm-map>  
    
      </div>
   
    
     
  
    </div>
  </div>
  
  
 
 

             